PROJECT_NAME=microcentral
PROJECT_VERSION=1.0.0
PROJECT_DESCRIPTION="Microcentral is a microservice that provides a central repository for all the microservices in the system."

BACKEND_CORS_ORIGINS=["http://localhost:8000","https://localhost:8000","http://localhost","https://localhost"]

DB_DATABASE=microcentral
DB_USER=ahmed
DB_PASSWORD=super_secret_password
DB_PORT=5432
DB_HOST=database

SHOULD_SEED_THE_DB=True

JWT_SECRET_KEY=super_secret_key
JWT_ALGORITHM=HS256