<aside id="main-sidebar">
    <div class="container">
        <div class="row">
            <div class="">
                <h3 id="logo">Microcentral</h3>
            </div>
            <div class="">
                <ul id="sidebar-list">
                    <div class="row">
                        <li class="sidebar-item"><a href="/dashboard/services">Services</a></li>
                        <li class="sidebar-item"><a href="/dashboard/scorecards/create">Scorecards</a></li>
                        <li class="sidebar-item"><a class="active" href="/dashboard/metrics/create">Metrics</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</aside>