
table * {
    color: #303030 !important
}

html, body, #app, #app>div {
	min-height: 100% !important
}

form #create-btn {
    background-color: #6482AD;
}

#add-new-btn {
    height: 40px;
    background-color: #6482AD
}