
.info-desc {
    width: 800px;
}

.team-member {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    background-image: url('../../assets/member1.jpg');
    background-position: center;
    background-size: cover;
    border: 1px solid #bdbdbd;
}

.member-more {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    /* border: none; */
    background: #e1e1e1 !important;
    border-color: #bdbdbd !important;
}

.member-add i {
    font-size: 27px;
    color: #838383;
}

.assign-btn {
    background-color: #6482ad !important;
}

.score-card {
    user-select: none;
    cursor: pointer
}