<div class="main-header">
	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
		<div class="container-fluid">
			<ul class="navbar-nav ms-md-auto align-items-center">
				<li class="nav-item dropdown hidden-caret">
					<a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
						<div class="avatar-sm">
							<img
								src="{{ url_for('static', path='/img/profile.jpg')}}"
								alt="..."
								class="avatar-img rounded-circle"
							/>
						</div>
					</a>
					<ul class="dropdown-menu dropdown-user animated fadeIn">
						<div class="dropdown-user-scroll scrollbar-outer">
							<li>
								<div class="user-box">
									<div class="avatar-lg">
										<img
											src="{{ url_for('static', path='/img/profile.jpg')}}"
											alt="image profile"
											class="avatar-img rounded"
										/>
									</div>
									<div class="u-text">
										<h4>Hizrian</h4>
										<p class="text-muted">hello@example.com</p>
										<a href="#" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
									</div>
								</div>
							</li>
							<li>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">My Profile</a>
								<a class="dropdown-item" href="#">My Balance</a>
								<a class="dropdown-item" href="#">Inbox</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Account Setting</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/login.html">Logout</a>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!-- End Navbar -->
</div>
