{% extends "layouts/layout.html" %} {% block title %} Dashboard {% endblock %} {% block content %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', path='css/form.css') }}">
{% endblock stylesheet %}

<div class="content mt-4 mb-5" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 m-auto mb-5">
                <h1 class="text-capitalize">{{ mode }} Metric</h1>
                <form mode="{{mode}}" class="row g-3" id="metric-form" onkeydown="return event.key != 'Enter';">
                    <div class="col-12">
                        <label for="metric-name" class="form-label">Metric Name</label>
                        <input type="text" class="form-control" placeholder="" id="metric-name"
                        value="{% if mode == 'edit' %}{{ metric_data['name'] }}{% else %}{% endif %}">
                        <span class="error-msg text-danger d-none">error</span>
                    </div>
                    <div class="col-12">
                        <label for="metric-type" class="form-label">Metric Type</label>
                        <select class="form-select" id="metric-type" aria-label="Default select example">
                            <option value="1">integer</option>
                            <option value="2">bool</option>
                          </select>
                        <span class="error-msg text-danger d-none">error</span>
                    </div>
                    <div class="col-12">
                        <label for="metric-area" class="form-label">Metric Area</label>
                        <span class="input-note d-block">Please add a comma after each tag and press enter</span>
                        <div class="tags-box">
                            <ul id="metric-area">
                                {% if mode == 'edit' %}
                                    {% for area in metric_data['area'] %}
                                        <li>{{area}} <i class="tag-cancel fa fa-times"></i></li>
                                    {% endfor %}
                                {% endif %}
                                <input type="text">
                            </ul>
                        </div>
                        <span class="error-msg text-danger d-none">error</span>
                    </div>
                    <div class="col-md-12">
                        <label for="metric-description" class="form-label">Metric Description </label>
                        <textarea class="form-control" placeholder="Write a brief descriptoin here" 
                        maxlength="{{char_limit}}" id="metric-description" style="height: 100px"">{% if mode == 'edit' %}{{ metric_data['description'] }}{% else %}{% endif %}</textarea>
                        <div class="float-end"><span class="counter">0</span>/{{char_limit}}</div>
                        <span class="error-msg text-danger d-none">error</span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary col-12" id="create-btn" style="background-color: #6482AD;">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', path='js/metrics.js') }}"></script>
{% endblock javascript %}

