{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}

<div class="content">
	{% include 'includes/panelHeader.html' %}
	<div class="page-inner mt--5">
		<div class="row row-card-no-pd">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row card-tools-still-right">
							<h4 class="card-title">Microservices</h4>
						</div>
						<p class="card-category">List of all available microservices</p>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="mx-auto col-md-9">
								<div class="table-responsive table-hover table-sales">
									<table class="table text-white">
										<thead>
											<tr>
												<th scope="col">Id</th>
												<th scope="col">Name</th>
												<th scope="col">description</th>
												<th scope="col">team Id</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>

										<tbody>
											{% for microservice in all_microservices %}
											<tr>
												<td>{{ microservice.id }}</td>
												<td>{{ microservice.name }}</td>
												<td>{{ microservice.description | truncate(50, True) }}</td>
												<td>{{ microservice.team_id }}</td>
												<td>
													<a
														href="/dashboard/microservice/{{ microservice.id }}"
														class="btn btn-primary btn-xs"
														>View</a
													>
												</td>
											</tr>

											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
