{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}

<div class="content">
	{% include 'includes/panelHeader.html' %}

	<div class="page-inner mt--5">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row">
							<div class="card-title">Microservice Score</div>
							<div class="card-tools">
								<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
									<span class="btn-label">
										<i class="fa fa-pencil"></i>
									</span>
									Export
								</a>
								<a href="#" class="btn btn-info btn-border btn-round btn-sm">
									<span class="btn-label">
										<i class="fa fa-print"></i>
									</span>
									Print
								</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="chart-container" style="min-height: 375px">
							<canvas id="statisticsChart"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Daily Commits & Successful Builds</div>
						<div class="card-category">March 25 - April 02</div>
					</div>
					<div class="card-body pb-0" style="min-height: 375px">
						<h2 class="h1 mb-2 mt-3 fw-bold">
							Commits Today: <span class="float-end text-success"> 7</span>
						</h2>
						<div class="h2 mt-2">Commits Rate <span class="float-end text-warning"> +15%</span></div>

						<h2 class="h1 mb-2 mt-3 fw-bold">
							Successful Builds Today: <span class="float-end text-danger"> 2</span>
						</h2>

						<div class="h2 mt-2">
							Successful Builds Rate <span class="float-end text-warning"> -7%</span>
						</div>

						<div class="mx-2 my-3">
							<canvas id="lineChart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %} {% block javascript %}
<script src="{{ url_for('static', path='js/microservice.js') }}"></script>
{% endblock javascript %}
