{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %} {% block content %}

<div class="content">
	{% include 'includes/panelHeader.html' %}
	<div class="page-inner mt--5">
		<div class="row row-card-no-pd">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row card-tools-still-right">
							<h4 class="card-title">Teams</h4>
						</div>
						<p class="card-category">List of all available Teams</p>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="mx-auto col-md-12>
								<div class="table-responsive table-hover table-sales">
									<table class="table text-white">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">Toke</th>
												<th scope="col">Actions</th>
											</tr>
										</thead>

										<tbody>
											{% for team in teams %}
											<tr>
												<td>{{ team.name }}</td>
												<td>{{ team.token }}</td>
												<td>
													<a
														href="#"
														class="btn btn-primary btn-xs"
														onclick="copyToClipboard('{{ team.token }}')"
														>Copy</a
													>
												</td>
											</tr>

											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block javascript %}
<script>
	function copyToClipboard(text) {
		var dummy = document.createElement("textarea");
		document.body.appendChild(dummy);
		dummy.value = text;
		dummy.select();
		document.execCommand("copy");
		document.body.removeChild(dummy);
	}
</script>
{% endblock javascript %}

